@import "../../styles/globals.module.scss";

.layout {
  background-color: $ultra-dark;
  color: $pale-mint;
  min-height: 100vh;
  header {
    padding: 2rem 0;
    .headerContent {
      max-width: 1280px;
      margin: 0 auto;
    }
  }
  main {
    max-width: 1280px;
    margin: 0 auto;
  }
}
