.hero,
.technologies,
.work {
  padding: 3rem 0;
}

.cardGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .card {
    flex-basis: 30%;
    &:not(:first-of-type) {
      margin-left: 1%;
    }
  }
}
